
.fixed {
  background-color: #36b2eb;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  padding: 30px;
  color: #fff;
}

.container.px-4  {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;
  
}

div.col {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 20px;
  margin-top: 1px;
}

p {
  font-size: 17px;
  margin-left: 10px;
  margin-bottom: 0%;
  height: 60px;
}

.cadastre-se {
  background-color: #36b2eb;
  border-radius: 8px;
  border: none;
  height: 38px;
  width: 95px;
  color: #fff;
  margin-bottom: 2%;
  font-size: 85%;
    
}

h2 {
  font-size: 24px;
  margin-left: 18px;
}

.rounded.mx-auto.d-block {
  height: auto;
  width: 100%;
}

.texto {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5rem;
  
}
.texto1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
  height: auto;
  
}
#logo {
  width: 2.5rem;
}

#botao-cadastro {
  margin-right: 0.6rem;
  width: 8.0rem;
  height: 2.5rem;
  color: #36B2EB;
  border-color: #36B2EB;
  border-radius: 8px;
}

#botao-entrar {
  width: 7rem;
  height: 2.5rem;
  background-color: #36B2EB;
  border-color: #36B2EB;
  border-radius: 8px;
}

.nav-link {
  color: #292929 !important;
}

@media screen and (max-width: 280px) {
  #botao-entrar {
    width: 6rem;
    height: 2rem;
    font-size: 0.8rem;
  }

  #botao-cadastro {
    width: 6rem;
    height: 2rem;
    font-size: 0.8rem;
  }

  .texto1 {
    font-size: 3.3rem !important;
  }

  p {
    margin-bottom: 1rem;
  }

  .cadastre-se {
    margin-top: 2.5rem;
  }
}