#logo {
    width: 2.5rem;
}

#botao-cadastro {
    margin-right: 0.6rem;
    width: 8.0rem;
    height: 2.5rem;
    color: #36B2EB;
    border-color: #36B2EB;
    border-radius: 8px;
}

#botao-entrar {
    width: 7rem;
    height: 2.5rem;
    background-color: #36B2EB;
    border-color: #36B2EB;
    border-radius: 8px;
}

.nav-link {
    color: #292929 !important;
}

.logo {
    width: 60px;
}

.links {
    display: flex;
    align-items: center;
}

.color-font {

    color: red;
}


.img-responsive-contactUs {

    width: 100%;
    height: 100%;

}

.removeBorder {

    border: none;

}


.text-faleConosco {

    color: #36B2EB;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3rem;

}

.text-completFaleConosco {

    color: #36B2EB;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5rem;

}

.camposObrigatorios {
    color: red;
    font-size: 13px;
    font-weight: 100;
    font-style: normal;

}

#botao-cadastro {
    margin-right: 0.6rem;
    width: 8.0rem;
    height: 2.5rem;
    color: #36B2EB;
    border-color: #36B2EB;
    border-radius: 8px;
}

#botao-entrar {
    width: 7rem;
    height: 2.5rem;
    background-color: #36B2EB;
    border-color: #36B2EB;
    border-radius: 8px;
}

#botao-faleconosco {
    width: 55%;
    background-color: #36B2EB;
    color: white;
    border: none;
    border-radius: 8px;
    height: 2.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.05rem;
    margin-top: 2rem;
}

@media screen and (max-width: 280px) {
    #botao-entrar {
        width: 6rem;
        height: 2rem;
        font-size: 0.8rem;
    }

    #botao-cadastro {
        width: 6rem;
        height: 2rem;
        font-size: 0.8rem;
    }
}
