*{
    font-family: 'Roboto', sans-serif;
}

#logo {
    width: 2.5rem;
  }

  #botao-cadastro {
    margin-right: 0.6rem;
    width: 8rem;
    height: 2.5rem;
    color: #36b2eb;
    border-color: #36b2eb;
    border-radius: 8px;
  }

  #botao-entrar {
    width: 7rem;
    height: 2.5rem;
    background-color: #36b2eb;
    border-color: #36b2eb;
    border-radius: 8px;
  }

  .nav-link {
    color: #292929 !important;
  }

/* páginas de cadastro e Fale Conosco - Título página Sobre Nós
#titulo-cadastro {
    color: #36B2EB;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

#texto-cadastro {
    color: #36B2EB;
    text-align: center;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

Páginas que contém FORMULÁRIOS

.campo-form {
    margin-top: 0.75rem;
    display: block;
}

.campo-form label {
    color: #292929;
    margin-bottom: 1px;
    font-weight: 300;
    font-size: 1rem;
}

.campo-form input {
    width: 100%;
    border-color: #C4C4C4;
    border-radius: 8px;
    border-width: thin;
    border-style: double;
    height: 2.25rem;
}
*/

#campos-obrigatorios {
    color: #ED1717;
    font-weight: 300;
    font-size: 0.75rem;
    text-align: right;
}

