* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#logo {
  width: 2.5rem;
}

#botao-cadastrorx {
  margin-right: 0.6rem;
  width: 8.0rem;
  height: 2.5rem;
  color: #210260;
  border-color: #210260;
  border-radius: 8px;
}

#botao-entrarrx {
  width: 7rem;
  height: 2.5rem;
  background-color: #210260;
  border-color: #210260;
  border-radius: 8px;
}

.nav-link {
  color: #292929 !important;
}

.container {
  justify-content: center;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
}

.header {
  background: #fff;
  padding: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  margin-left: 90px;
  padding: 0.5rem;
  width: 800px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
}

a {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  margin-left: 1rem;
}

.img-responsive {
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 0;
}

#titulo {
  color: rgb(163, 4, 137);
  font-size: 30px;
}

#conteudo {
  width: 80%;
}

#lista {
  width: 50%;
  font-family: "Times New Roman";
}

th {
  background-color: darkmagenta;
  color: bisque;
}

td {
  background-color: bisque;
}

table {
  width: 98%;
}

table caption {
  font-weight: bolder;
  font-size: 25px;
}

.containerPrestadorrx {
  background-color: #210260;
  height: 8.5rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.05rem;
}

.Ola {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: end;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.menu-prestador {
  text-align: end;
  padding-right: 1rem;
}

#dropdownmenubutton {
  background: transparent;
  color: white;
}

.iconeUser {
  height: 50px;
}

.formulario {
  height: 500px;
  width: auto;
}

.conteudo {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.form2 {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  align-items: center;
}

#titulo-meuperfil {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 3.3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

#salvar-alteracoes {
  width: 10rem;
  height: 2.5rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.05rem;
  text-align: center;
  background-color: #210260;
  border-color: transparent;
  border-radius: 8px;
  margin-bottom: 20%;
}

@media (min-width:0px) and (max-width: 280px) {
  #botao-entrarrx {
    width: 6rem;
    height: 2rem;
    font-size: 0.8rem;
  }

  #botao-cadastrorx {
    width: 6rem;
    height: 2rem;
    font-size: 0.8rem;
  }

#titulo-meuperfil {
  font-size: 1.5rem !important;
}

.ola {
  font-weight: 200;
}

.containerPrestadorrx {
  display: block;
  height: auto;
  padding-bottom: 1rem;
  font-size: 3px !important;
}

.iconeUser {
  height: 35px;
}
}

/*.form1 {
    width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.sidebar {
display: flex;
flex-direction: column;
width: 13%;
height: 100%;
justify-content: center;
background-color: #dee2E6;
line-height: 300%;
padding-top: 20px;
padding-left: 20px;
float: left;
border: soli;
}
/*.cadastro {
  padding: 0.4rem;
  font-size: 1rem;
  width: 150px;
  border-radius: 4px;
  border: 1px solid #36b2eb;
  background-color: #fff;
  color: #36b2eb;
}

.entrar {
  padding: 0.4rem;
  font-size: 1rem;
  width: 100px;
  border-radius: 4px;
  background: #36b2eb;
  border: 1px solid #36b2eb;
  color: #fff;
}*/